{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "html"
  ],
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "prettier"
  ],
  "rules": {
    "no-param-reassign": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "no-underscore-dangle": "off"
  },
  "overrides": [
    {
      "files": [
        "*.test.js",
        "test.js"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
