/**
 * GitHub Gist Theme
 * Author : CHENG KANG
 */

.wf-theme-dark .hljs-string {
  color: #dedc6d;
}
.wf-theme-dark .hljs-attr {
  color: #fff;
}
.wf-theme-dark .hljs-tag {
  color: #fff;
}
.wf-theme-dark .hljs-variable,
.wf-theme-dark .hljs-template-variable,
.wf-theme-dark .hljs-strong,
.wf-theme-dark .hljs-emphasis,
.wf-theme-dark .hljs-quote {
  color: #2196f3;
}

.wf-theme-dark .hljs-section,
.wf-theme-dark .hljs-name {
  color: #fa1e70;
}

.wf-theme-dark .hljs-keyword,
.wf-theme-dark .hljs-built_in {
  color: #60d9f1;
}
.wf-theme-dark .hljs-params {
  color: #fff;
}