body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #34495e;
  background-color: #fff;
}

nav {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  z-index: 999;
}
main {
  margin: 120px auto 50px;
  padding: 0 30px;
  max-width: 48em;
}

.how-to-use {
  margin: 32px 0;
}

.tip {
  font-size: 14px;
  word-spacing: 0.05em;
  color: #7f8c8d;
}

h1 {
  font-weight: 500;
  margin: 24px 0;
  font-size: 3.2em;
}
h2 {
  font-weight: 500;
  font-size: 2em;
  margin: 24px auto;
}
h2.section-title {
  position: relative;
}
.section-title::before {
  content: "#";
  color: #f36b39;
  position: absolute;
  left: -1.4rem;
  font-weight: bold;
}
.section-title a {
  cursor: pointer;
  transition: border 0.2s ease;
}
.section-title a:hover {
  border-bottom: 1px dashed;
}
h3 {
  font-weight: 400;
  font-size: 1.2em;
  margin: 1em 0 0 0;
}
p {
  line-height: 1.6em;
  margin: 1.2em 0 -1.2em;
  padding-bottom: 1.2em;
}
a {
  color: #34495e;
  cursor: pointer;
  text-decoration: none;
}
a.button {
  padding: 0.85em 2em;
  border-radius: 2em;
  display: inline-block;
  color: #fff;
  background-color: #f36b39;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid #f36b39;
  margin: 1em 0;
  font-size: 1.05em;
  font-weight: 600;
  letter-spacing: 0.1em;
  min-width: 8em;
  text-align: center;
}
a.button.white {
  background-color: #fff;
  color: #f36b39;
}

.logos {
  display: flex;
  align-items: flex-end;
}
.logos .wf {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -3px;
}
.logos .wf span {
  margin-top: 8px;
  font-size: 1.2em;
  font-weight: 400;
  margin-left: 8px;
}
.main .buttons {
  margin-top: 32px;
  margin-bottom: 16px;
}
.main .buttons .button {
  margin-right: 24px;
}
form {
  display: flex;
  flex-direction: column;
}
.form-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 8px 0;
}
.form-item.vertical {
  flex-direction: column;
  align-items: unset;
  justify-content: center;
}
.form-item > span {
  font-size: 1.4em;
  font-weight: 500;
  margin-right: 20px;
}
.form-item > div {
  display: flex;
  align-items: center;
}
.form-item > div > label {
  font-size: 1.3em;
  font-weight: 500;
  margin-left: 3px;
  margin-right: 16px;
}
.form-item input[type="radio"] {
  margin-top: 2px;
}
.form-item textarea {
  margin: 12px 8px 0 8px;
  padding: 8px;
  min-height: 104px;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #34495e;
}
.form-item textarea:focus {
  outline: none;
}
::-webkit-input-placeholder { color: rgba(27,31,35,0.3) }
:-ms-input-placeholder { color: rgba(27,31,35,0.3) }
::-moz-placeholder { opacity: .3; color: rgb(27,31,35) }
:-moz-placeholder { opacity: .3; color: rgb(27,31,35) }
.form-item .select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
  height: 2.25em;
}
.form-item .select::after {
  border: 1px solid #f36b39;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.5em;
  pointer-events: none;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 0.5em;
  margin-top: -0.375em;
  right: 1.125em;
  top: 50%;
  z-index: 4;
}
.form-item select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: 2.5em;
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #34495e;
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: none;
}
.generation-result {
  border-top: 2px #ddd;
  padding-top: 16px;
  border-top-style: dashed;
  margin-top: 16px;
}
.generation-result h3 {
  color: #f36b39;
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}
.generation-result textarea {
  border-color: #f36b39;
}
.copy-msg {
  margin-left: 12px;
  font-size: 1.1em;
  color: #42b983;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

@media only screen 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .form-item > span {
      font-size: 1.3em;
    }
    .form-item > div > label {
      font-size: 1.2em;
    }
    #database-provider {
      flex-direction: column;
      align-items: unset;
      justify-content: center;
    }
    #database-provider > div {
      margin: 12px 0 0 8px;
    }
}