.wildfire_thread {
  margin: 0 auto;
  max-width: 39rem;
  font-family: "Helvetica Neue",arial,sans-serif;
  font-size: 15px;
}
[v-cloak] {
  display: none;
}
.wf-loading-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: #656c7a;
  font-size: 12px;
}
.wf-loading-modal img {
  width: 66px;
  height: 66px;
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  40%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  40%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  40%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  40%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1.5s infinite;
   -moz-animation: flickerAnimation 1.5s infinite;
   -o-animation: flickerAnimation 1.5s infinite;
    animation: flickerAnimation 1.5s infinite;
}