.wf.wf-theme-dark { color: white; background-color: transparent }
.wf.wf-theme-dark:not(.v-transfer-dom) a { color: #eee }
.wf.wf-theme-dark:not(.v-transfer-dom) a:active, .wf.wf-theme-dark:not(.v-transfer-dom) a:hover { color: rgba(255, 255, 255, .5) }
.wf.wf-theme-dark:not(.v-transfer-dom) .ivu-input { border-color: rgba(255, 255, 255, .2) }
.wf.wf-theme-dark:not(.v-transfer-dom) textarea.ivu-input { color: white; background-color: rgba(255, 255, 255, .2) }
.wf.wf-theme-dark .ivu-poptip-body-message { color: #495060 }
.wf.wf-theme-dark .ivu-spin-text { color: #eee }
.wf.wf-theme-dark::-webkit-input-placeholder { color: rgba(255, 255, 255, .1) }
.wf.wf-theme-dark:-ms-input-placeholder { color: rgba(255, 255, 255, .1) }
.wf.wf-theme-dark::-moz-placeholder { opacity: .1; color: black }
.wf.wf-theme-dark:-moz-placeholder { opacity: .1; color: black }
.wf.wf-theme-dark .ivu-page-prev, .wf.wf-theme-dark .ivu-page-next, .wf.wf-theme-dark .ivu-page-item { background-color: rgba(255,255,255,0.1); }
.wf.wf-theme-dark .ivu-page-disabled a, .wf.wf-theme-dark .ivu-page-disabled:hover a { color: #ccc }
.wf.wf-theme-dark .ivu-page-item-active a, .wf.wf-theme-dark .ivu-page-item-active:hover a { color: #fff }
.wf.wf-theme-dark .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item, .wf.wf-theme-dark .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu { color: #eee }
.wf.wf-theme-dark .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active, .wf.wf-theme-dark .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover, .wf.wf-theme-dark .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu-active, .wf.wf-theme-dark .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover { color: #eee; border-bottom-color: rgb(201, 202, 204) }
.wf.wf-theme-dark .ivu-menu-horizontal.ivu-menu-light:after { background-color: rgba(255, 255, 255, .2) }
.wf.wf-theme-dark .ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item { color: #495060 }
.wf.wf-theme-dark .ivu-tabs-nav .ivu-tabs-tab-active, .wf.wf-theme-dark .ivu-tabs-nav .ivu-tabs-tab:hover { color: black }
.wf.wf-theme-dark .ivu-tabs-ink-bar { background-color: black }
.wf.wf-theme-dark .ivu-btn-text.disabled, .wf.wf-theme-dark .ivu-btn-text.disabled.active, .wf.wf-theme-dark .ivu-btn-text.disabled:active, .wf.wf-theme-dark .ivu-btn-text.disabled:focus, .wf.wf-theme-dark .ivu-btn-text.disabled:hover, .wf.wf-theme-dark .ivu-btn-text[disabled], .wf.wf-theme-dark .ivu-btn-text[disabled].active, .wf.wf-theme-dark .ivu-btn-text[disabled]:active, .wf.wf-theme-dark .ivu-btn-text[disabled]:focus, .wf.wf-theme-dark .ivu-btn-text[disabled]:hover, .wf.wf-theme-dark fieldset[disabled] .ivu-btn-text, .wf.wf-theme-dark fieldset[disabled] .ivu-btn-text.active, .wf.wf-theme-dark fieldset[disabled] .ivu-btn-text:active, .wf.wf-theme-dark fieldset[disabled] .ivu-btn-text:focus, .wf.wf-theme-dark fieldset[disabled] .ivu-btn-text:hover { color: rgb(170,170,170,0.5); }

/* WfFooter.vue */
.wf.wf-theme-dark > footer { border-top-color: rgba(255, 255, 255, .5) }
.wf.wf-theme-dark .wf-use-wildfire path { fill: rgba(255, 255, 255, .5) }
.wf.wf-theme-dark .wf-use-wildfire span { color: rgba(255, 255, 255, .5) }
.wf.wf-theme-dark .wf-use-wildfire:hover path { fill: #eee }
.wf.wf-theme-dark .wf-use-wildfire:hover span { color: #eee }

/* WfCommentCard.vue */
.wf.wf-theme-dark .wf-comment-header .wf-content .parent-link { color: rgba(255, 255, 255, .5) }
.wf.wf-theme-dark .wf-comment-header .wf-content .parent-link:hover { color: #eee }
.wf.wf-theme-dark .wf-comment-header .wf-content .wf-meta {color: rgba(170,170,170,0.5);}
.wf.wf-theme-dark .wf-comment-body .wf-comment-footer a { color: rgba(237, 63, 20, .8) }
.wf.wf-theme-dark .wf-comment-body .wf-comment-footer .wf-separator { color: rgba(237, 63, 20, .8); filter: grayscale(100%) }
.wf.wf-theme-dark .wf-comment-content pre { background-color: rgba(255,255,255,0.05); border: unset; }
.wf.wf-theme-dark .wf-comment-content { color: white }
.wf.wf-theme-dark .wf-reply-btn { color: rgba(255, 255, 255, .5) }
.wf.wf-theme-dark .wf-reply-btn:hover { color: #eee }
.wf.wf-theme-dark .wf-clear-btn, .wf.wf-theme-dark .wf-toggle-content-btn { color: rgba(255, 255, 255, .5) }
.wf.wf-theme-dark .wf-clear-btn:hover, .wf.wf-theme-dark .wf-toggle-content-btn:hover { color: white }


/* WfReplyArea.vue */
.wf.wf-theme-dark:not(.v-transfer-dom) .wf-reply-form .ivu-input:hover, .wf.wf-theme-dark:not(.ivu-modal-wrap) .wf-reply-form .ivu-input:focus { border-color: rgba(255, 255, 255, .4) }
.wf.wf-theme-dark .wf-post-btn { color: black; border-color: #cacbce; background-color: rgba(255,255,255,0.5) }
.wf.wf-theme-dark .wf-post-btn:hover { color: black; border-color: white; background-color: rgba(255,255,255,0.8) }
.wf.wf-theme-dark .wf-post-btn[disabled], .wf.wf-theme-dark .wf-post-btn[disabled]:hover { color: rgba(0, 0, 0, .3); border-color: #9c9ea4; background-color: rgba(255,255,255,0.5) }